body {
    background: #CDE5FF;
    font-family:Arial, Helvetica, sans-serif;
}
.assignment {
    width:22%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background: #E8F8FF;
    border-radius:5px;
    box-shadow: 8px 8px #1B3756;
}
.assignment img {
    max-width: 250px;
    max-height: 250px;
    margin:10px;
    border:4px solid #1B3756;
    display:block;
    margin:auto;
}
.assignment img:hover {
    border:4px solid #1f72b6;
}
h1 {
    color: #1B3756;
    text-align:center;
    font-family: "monospace";
    font-size:xx-large;
}
h2 {
    text-align: center;
    font-family: "monospace";
    font-size:x-large;
}
a {
    text-decoration:none;
    color: #1B3756;
}
a:hover {
    color: #086fc4;
}
.assignments {
    display:flex;
    flex-wrap:wrap;
}
p {
    font-family: "Georgia";
}